@typeparam T
@inject EntityStateService<T> EntityStateService

<div>
    <h3>Current State:</h3>
    <ObjectViewer Item="State"/>
</div>

@code {
    private T? State;

    protected override void OnInitialized()
    {
        EntityStateService.OnStateChanged += HandleEntityStateChanged;
        State = EntityStateService.Current;
    }

    private void HandleEntityStateChanged(T newState)
    {
        State = newState;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        EntityStateService.OnStateChanged -= HandleEntityStateChanged;
    }

}